section.section.hero
        .hero__social-and-menu
            .hero__socials
                include ../common/social.pug
            include ../common/hamburger.pug
        .hero__title
            .section-title
            .user.hero__user
                .user__pic.welcome-center__foto
                    img.user__pic-img.welcome-center__img(src="assets/images/img/Alex.jpeg", alt="")
                .user__description
                    .user__name.welcome-center__name Александр Смирнов
                    .user__info.welcome-center__option Личный сайт разработчика
        
        .arrow-down.hero__scroll-btn
            a(href="#blockDown")
                img(src="assets/images/icons/arrow_down.svg", alt="arrow_down" title="arrow_down")#arrowDown
        