.menu-left
    input.hidden-menu-ticker(type="checkbox" id="hmt")
    label.btn-menu.circle(for="hmt")
        //- span.first
        //- span.second
        //- span.third
    ul.hidden-menu.blog-menu__list
        each item, href in {'#first' : 'Самое важное в SASS', '#second' : 'Приемы в верстке, без которых не обходится ни один сайт', '#third' : 'Самый необходимый набор Gulp плагинов', '#fourth' : 'Почему я выбрал Jade'}
            li.blog-menu___item.blog-menu___item-color-green
                a(href= href ).blog-menu__link.blog-menu__link-color-white #{item}