.about-me__reviews
    .reviews__left
        .rewiews__description
            .reviews__img
                img(src="../../assets/images/img/kd.png", alt="")
            .reviews__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
            .reviews__person
                .person__name Ковальчук Дмитрий
                .person__position - основатель Loftschool
    .reviews__right
        .rewiews__description
            .rewiews__description
            .reviews__img
                img(src="../../assets/images/img/sd.png", alt="")
            .reviews__text Этот код выдержеит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
            .reviews__person
                .person__name Сабанцев Владимир
                .person__position - преподаватель