.slider
  .slider__left
      .block-title__title.block-title__title-color-gray.block-title__title-smoller Сайт школы онлайн образования
      .sites-description__technology-set Html, CSS, JavaScript
      .sites-link__sites-button
          a(href="#" target=_blank).sites-button__link Посмотреть сайт
  .slider__right
      .sites__img
          img(src="../../assets/images/img/site1.png", alt="")
      .sites__button
          .sites-button-left
              .sites-button-left__img-bg
                  img(src="../../assets/images/img/site1small.png", alt="")
          .sites-button-right
              .sites-button-left__img-bg
                  img(src="../../assets/images/img/site1small.png", alt="")
